main{
    gap: 4vw;
}
p{
    font-size: clamp(22px, 2vw, 40px);
    width: 65%;
}
.secondSection{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    img{
        width: 100%;
    }
    .link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            height: 10%;
            width: 30%;
            padding: 1.5%;
            border-radius: 2vw;
            border: 0;
            background-color: #D17620;
            a{
                font-size: clamp(30px, 2.5vw, 50px);
                color: #F7F5E3;
            }
        }
    }
}
.divTitle{
    margin-top: 2%;
}
.rows{
    a{
        color: #F7F5E3;
        background-color: #D17620;
    }
}