:root{
    --navFooter: 15%;
    --navPadding: 10px;
}
body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #000;
    height: 400vh;
}
section{
    width: var(--navFooter);
    height: 100vh;
    overflow: hidden;
    border-right: #F7F5E3 5px solid;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    a{
        width: 100%;
        height: fit-content;
        padding: var(--navPadding);
        background-color: #7F1F2F;
        font-size: 35px;
        color: #F7F5E3;
        font-family: "Open Sans", sans-serif;
        line-height: 80%;
        font-weight: 500;
        letter-spacing: -2%;
    }
    .chosen{
        background-color: #F7F5E3;
        color: #000;
    }
}
main{
    width: 100%;
}
footer{
    bottom: 0;
    width: 100%;
    h3{
        color: #F7F5E3;
        font-size: 35px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
    }
    p{
        color: #F7F5E3;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
}