a{
    font-family: "Louver";
    font-size: clamp(65px, 14vw, 280px);
}
div{
    width: 15vw;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding-top: 4%;
    width: 85vw;
    border-right: #F7F5E3 solid 5px;
    height: 100vh;
    a{
        width: 100%;
        height: fit-content;
        padding: 12px 0 12px 20px;
        background-color: #7F1F2F;
        font-size: clamp(25px, 2.5vw, 35px);
        font-family: "Roboto Condensed", sans-serif;
        color: #F7F5E3;
        line-height: 80%;
        font-weight: 400;
        letter-spacing: -2%;
    }
}